* {
  box-sizing: border-box;
}

.idyll-root {
  margin: 0 auto;
  padding: 0;
  max-width: 1024px;
}

.half-edge-vis {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 16px;
}

.half-edge-tables {
  grid-column: 1 / 3;
  display: grid;
  grid-template-columns: 1.618fr 1fr;
  grid-gap: 16px;
}

.vertices, .faces {
  grid-row: 2;
}

.half-edges {
  grid-column: 1 / 3;
}

textarea {
  width: 100%;
  height: 100%;
  resize: none;
}

.d3-component svg {
  background: #ddd;
  max-height: 300px;
}

table {
  width: 100%;
  height: initial;

  border-collapse: collapse;
}

thead {
  font-weight: bold;
}

th {
  background-color: rgba(0, 0, 0, 0.02);
}

td, th {
  border: 1px solid #ccc;
  padding: 1px 8px;
  text-align: center;
}

h4 {
  margin: 0;
  font-size: 1.4em;
  font-variant: small-caps;
  text-transform: lowercase;
  letter-spacing: 0.15em;
}

.error {
  color: #f30;
  fill: currentColor;
}

sub, sup {
  font-size: 0.75em;
}

td.hover {
  background-color: orange;
}

td.boundary {
  color: blue;
}

td.interior {
  color: red;
}

svg .edge, svg .node {
  /* set anchors to centre of text box */
  text-anchor: middle;
  dominant-baseline: middle;
}
